@using FitnessApp1.ViewModels.Account
@model ForgotPasswordVm
@{
	ViewData["Title"] = "ForgotPassword";
	Layout = null;
}
<section class="inner-banner pattern-3">
    <div class="container text-center">
        <h2>Forgot Password</h2>
        <p>We offer Fitness & Yoga services since 1996</p>
    </div>
</section>
<section class="bread-cumb">
    <div class="container text-center">
        <ul>
            <li><a href="/home/index">Home</a></li>
            <li><span>Forgot Password</span></li>
        </ul>
    </div>
</section>
<section class="section-padding login-register">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="section-title">
                    <h1>Reset Password</h1>
                </div>
                <!-- /.section-title -->
                <form method="post" asp-action="forgotpassword" asp-controller="account">
                    <div class="form-grp">
                        <input asp-for="Email" placeholder="Email" />
                        <span class="text-warning text" asp-validation-for="Email"></span>
                    </div>
                    <!-- /.form-grp -->
                    <div class="clearfix submit-box">
                        <div class="pull-left">
                            <button class="thm-btn" type="submit">Submit</button>
                        </div>

                        <!-- /.pull-right -->
                    </div>
                </form>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section-padding -->