@model Discount

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                <form method="post" enctype="multipart/form-data">

                    <div class="mb-3">
                        <label asp-for="DiscountPercent" class="form-label">DiscountPercent</label>
                        <input asp-for="DiscountPercent" required class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>