@model Slider
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";

}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                <form method="post" enctype="multipart/form-data">

                    <div class="mb-3">
                        <label asp-for="Photo" class="form-label">Photo</label>
                        <input asp-for="Photo" required accept="image/*" class="form-control">
                        <span asp-validation-for="@Model.Photo" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Title" class="form-label">Title</label>
                        <input asp-for="Title" required class="form-control">
                        <span asp-validation-for="@Model.Title" class="text-danger"></span>
                    </div>
                     <div class="mb-3">
                        <label asp-for="Description1" class="form-label">Description1</label>
                        <input asp-for="Description1" required class="form-control">
                        <span asp-validation-for="@Model.Description1" class="text-danger"></span>
                    </div>
                     <div class="mb-3">
                        <label asp-for="Description2" class="form-label">Description2</label>
                        <input asp-for="Description2" required class="form-control">
                        <span asp-validation-for="@Model.Description2" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>